@import './colors';


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.main-button{
  border-radius: 30px;
  color: white;
  font-weight: bold;
  margin: 0 1em;
  padding: 1em 2em;
  background-color: $base-color;
  // background-image: linear-gradient(to right, LightSlateGrey , Silver, Snow);
}

.buttons-container {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.sort-by{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}