img {
    width: 200px;
    height: auto;
    border-radius: 50%; 
}

.buttons-container {
    margin-top: 30px;
}

.name {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid lightgray;
}